<h1>EDITAR ATLETA</h1>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <th>Ciudad</th>
        <th>Año</th>
        <th>Hombre</th>
        <th>Mujer</th>
        <th>Total</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedAthlete.city}}</td>
            <td>{{updatedAthlete.year}}</td>
            <td><input class="form-control" ng-model="updatedAthlete.man" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.woman" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.total" /></td>
            <td><button class="button btn-primary" ng-click="update()">
                Actualizar
            </button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
