<h1>Editar Biblioteca</h1>
<table class="tableEdit" style="width: 90%;">
    <thead>
            <th>Ciudad</th>
            <th>Año</th>
            <th>Numero</th>
            <th>Actividades</th>
            <th>Servicio</th>
            <th>Acciones</th>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedLibrarie.city}}</td>
            <td>{{updatedLibrarie.year}}</td>
            
            
            <td><input class="form-control" ng-model="updatedAthlete.number" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.activities" /></td>
            <td><input class="form-control" ng-model="updatedAthlete.service" /></td>
            <td><button class="button btn-primary" ng-click="update()"> Actualizar Biblioteca </button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>