<head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
</head>

<body ng-controller="editCtrl">
    <h1>Editar estudiantes</h1>
    <table class="table">
        <thead>
            <th>Ciudad</th>
            <th>Año</th>
            <th>ESO</th>
            <th>Bachillerato</th>
            <th>Universidad</th>
        </thead>
        <tbody>
            <tr>    
                <td>{{ updatedStudent.city }}</td>
                <td>{{ updatedStudent.year }}</td>
                
                <td><input class="form-control" ng-model="updatedStudent.eso"/></td>
                <td><input class="form-control" ng-model="updatedStudent.high"/></td>
                <td><input class="form-control" ng-model="updatedStudent.vocational"/></td>
                
                <td><button class="btn btn-primary" ng-click="put()">Actualizar</button></td>
            </tr>
        </tbody>
    </table>
</body>
<hr/>
<h8><i>{{status}}</i></h8>