<h1>Editar estudiante</h1>
<table class="tableEdit" style="width: 90%;">
    <thead>
        <th>Ciudad</th>
        <th>Año</th>
        <th>ESO</th>
        <th>Bachillerato</th>
        <th>Universidad</th>
    </thead>
    <tbody>
        <tr>    
            <td>{{ updatedStudent.city }}</td>
            <td>{{ updatedStudent.year }}</td>
            
            <td><input class="form-control" ng-model="updatedStudent.eso"/></td>
            <td><input class="form-control" ng-model="updatedStudent.high"/></td>
            <td><input class="form-control" ng-model="updatedStudent.vocational"/></td>
            
            <td><button class="btn btn-primary" ng-click="update()">Actualizar</button></td>
        </tr>
    </tbody>
</table>

<hr/>
<h8><i>{{status}}</i></h8>