
<h1>Estudiantes de Andalucia</h1>
    <div>
        <ul>
            <button class="btn btn-info" ng-click="loadInitialData()">Inicializar datos</button>
            <button class="btn btn-danger" ng-click="deleteAll()">Borrar todo</button>
        </ul>
        <ul>
            <tr>
                <td>
                    <select style="width: 20%" class="form-control" ng-model="atributo">
                        <option value="" disabled selected>Campo Búsqueda</option>
                        <option value="city">Ciudad</option>
                        <option value="year">Año</option>
                        <option value="eso">ESO</option>
                        <option value="high">Bachillerato</option>
                        <option value="vocational">Universidad</option>
                    </select>
                </td>
                <td></td><input style="width: 20%" placeholder="valor" name="valor" class="form-control" ng-model="valor" /></td>
                <td></td><button class="button btn-primary" ng-click="busqueda()">Buscar</button></td>   
        </ul>
    </div>
     <table class="table" style="width: 90%;">
        <thead>
            <tr>
                <th>Ciudad</th>
                <th>Año</th>
                <th>ESO</th>
                <th>Bachillerato</th>
                <th>Universidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>{{student.city}}</td>
                <td>{{student.year}}</td>
                <td>{{student.eso}}</td>
                <td>{{student.high}}</td>
                <td>{{student.vocational}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="delete(student.city)">Borrar</button> 
                </td>
            </tr>
            <tr>
                <td><h4>Añadir un nuevo dato:</h4></td>
                <td>
                    <p>Ciudad:</p>
                    <input class="form-control" ng-model="newStudent.city" value="new city">
                </td>
                <td>
                    <p>Año:</p>
                    <input class="form-control" ng-model="newStudent.year" value="new year">
                </td>
                <td>
                    <p>Eso:</p>
                    <input class="form-control" ng-model="newStudent.eso" value="new eso">
                </td>
                <td>
                    <p>Bachillerato:</p>
                    <input class="form-control" ng-model="newStudent.high" value="new high">
                </td> 
                <td>
                    <p>Universidad:</p>
                    <input class="form-control" ng-model="newStudent.vocational" value="new vocational">
                </td>                        
                <td>
                    <button class="btn btn-success" ng-click="add()">Añadir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <ul>
            <button class="btn btn-outline-primary" ng-click="previousPage()">Página Anterior</button>
            <button class="btn btn-outline-secondary" ng-click="nextPage()">Página Siguiente</button>
        </ul>
    </div>
    <hr>
    <h8 style="padding-left:40%;"><i>{{status}}</i></h8>